
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Player</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            overflow: hidden;
        }
        #game {
            width: 100vw;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div id="game"></div>

    <script>
        // Configuración de EmulatorJS
        EJS_player = '#game';
        EJS_core = 'psx';
        EJS_gameName = 'Digimon World';
        EJS_color = '#0066ff';
        EJS_startOnLoaded = true;

        // RUTA LOCAL: Carga el emulador desde tu propio servidor de GitHub Pages
        EJS_pathtoEJS = 'data/';

        // REEMPLAZA EL ID DE ABAJO POR TU ID DE GOOGLE DRIVE:
        EJS_gameUrl = 'https://drive.google.com/uc?export=download&id=1AwXvO678G92KGH70cmcPk95SDTR4BQKZ';

        // Mapeo básico de controles teclado
        EJS_defaultControls = {
            0: {
                0: 88, // Botones y direcciones
                1: 90,
                2: 65,
                3: 83
            }
        };
    </script>

    <!-- Carga del script ejecutor desde tu repositorio local -->
    <script src="data/loader.js"></script>
</body>
</html>